flows.json
[{"id":"815dd7af.2fb34","type":"tab","label":"Lights / Switches","disabled":false,"info":""},{"id":"85eafe88.76595","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"a448fa83752bc0e1","type":"tab","label":"Presence-Based","disabled":false,"info":"","env":[]},{"id":"142113522f526340","type":"tab","label":"Time-Based","disabled":false,"info":"","env":[]},{"id":"4060d872.399cd8","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"aff70799.04bd78","type":"tab","label":"Media","disabled":false,"info":""},{"id":"307e7496096e129b","type":"tab","label":"WHA","disabled":false,"info":"","env":[]},{"id":"abd41c15.11de4","type":"tab","label":"Lucy","disabled":false,"info":""},{"id":"d2c5940b.49f888","type":"tab","label":"Climate","disabled":true,"info":""},{"id":"77df47ab.b13bf","type":"tab","label":"Cameras","disabled":true,"info":""},{"id":"6b67e6d94ce2bfe9","type":"subflow","name":"ntfy","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"f08639ecc2f0938f"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"4e9a8897b6da89cc","type":"subflow","name":"Get WHA Music Source","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"9bf8bc4b9aed1e35"}]}],"out":[{"x":540,"y":60,"wires":[{"id":"a65245a6a9171956","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"4b2747985bead9c1","type":"group","z":"815dd7af.2fb34","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#383c45","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["246b1d414afaaf62","16b11cfd31761811","3399048ccfaf7a09","9d6012c51cd30892"],"x":14,"y":1059,"w":632,"h":142},{"id":"4593fc9454a71ee5","type":"group","z":"815dd7af.2fb34","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#383c45","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a5c6cd41af812563","ce785d9e7bf5fe85","db942c27c31b9c44","82a660b1c2e9a68f","adb7c73a7e01dc30","10083a2107e2e678","d9aa9776d98b98a5","f29cc1c0f023b396","60993bb2f608c9f6","f61bf184d665d63c","14beceb10aa1fe78","fd4d335642f54ea0","72e47610030274a0"],"x":14,"y":519,"w":1112,"h":342},{"id":"8f34b20a3ab7eed8","type":"group","z":"aff70799.04bd78","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#383c45","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0fa506b7a8b8e693","bf69bae161a81e92","5644e3f585a62d8c","0fa1c20e384f7c75","8e36abd08476cc49","248e86a8cd7702f7","89cbe51795c3626b","15ee9a75aafbc9a6","bbb5c1397889ec8b","06a9a3380f1d3b40"],"x":14,"y":779,"w":732,"h":262},{"id":"46b2846328790ffb","type":"group","z":"aff70799.04bd78","style":{"stroke":"#2e333a","stroke-opacity":"1","fill":"#383c45","fill-opacity":"0.5","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ac22cc8e36856991","dfd99521a850410c","5d12cc4a24503b76","62ea160565343924","53cf4d82854d24bc"],"x":14,"y":559,"w":492,"h":202},{"id":"fd4d335642f54ea0","type":"junction","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","x":360,"y":640,"wires":[["adb7c73a7e01dc30","82a660b1c2e9a68f","ce785d9e7bf5fe85","60993bb2f608c9f6"]]},{"id":"72e47610030274a0","type":"junction","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","x":620,"y":660,"wires":[["f29cc1c0f023b396"]]},{"id":"ce932edc.ea08c","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"f08639ecc2f0938f","type":"http request","z":"6b67e6d94ce2bfe9","name":"ntfy.sh","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://ntfy.w00t.cloud/homeassistant","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[{"keyType":"other","keyValue":"Icon","valueType":"other","valueValue":"https://github.com/walkxcode/dashboard-icons/raw/main/png/home-assistant.png"},{"keyType":"other","keyValue":"Title","valueType":"other","valueValue":"Home Assistant"}],"x":190,"y":80,"wires":[[]]},{"id":"9bf8bc4b9aed1e35","type":"api-current-state","z":"4e9a8897b6da89cc","name":"Source Select State","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.wha_sources","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":220,"y":60,"wires":[["a65245a6a9171956"]]},{"id":"a65245a6a9171956","type":"function","z":"4e9a8897b6da89cc","name":"function 3","func":"switch (msg.payload) {\n    case 'Server':\n        msg.payload = 'All Music'\n        break;\n    case 'Alexa':\n        msg.payload = 'Audio Input'\n        break;\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":60,"wires":[[]]},{"id":"b08bcff6.1cc3f","type":"api-call-service","z":"815dd7af.2fb34","name":"Turn outlet OFF","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.master_bathroom_outlet"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":60,"wires":[[]]},{"id":"d4d998aa.c7e67","type":"server-state-changed","z":"815dd7af.2fb34","name":"Bathroom outlet ON for 60m","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.master_bathroom_outlet","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"60","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":60,"wires":[["503f1b4f.79a21c"],[]]},{"id":"1f174f89.4eeb38","type":"inject","z":"815dd7af.2fb34","name":"At 10:50pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["7beea67b.ceb838"]]},{"id":"6f71eb27.2689d4","type":"delay","z":"815dd7af.2fb34","name":"Wait up to 20 mins","pauseType":"random","timeout":"60","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"20","randomUnits":"minutes","drop":false,"outputs":1,"x":570,"y":140,"wires":[["c7a7f2b8.f5a898"]]},{"id":"c7a7f2b8.f5a898","type":"api-call-service","z":"815dd7af.2fb34","name":"Turn OFF porch","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.porch_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":140,"wires":[[]]},{"id":"503f1b4f.79a21c","type":"api-current-state","z":"815dd7af.2fb34","name":"Automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_master_bathroom_outlet","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":420,"y":60,"wires":[["b08bcff6.1cc3f"],[]]},{"id":"7beea67b.ceb838","type":"api-current-state","z":"815dd7af.2fb34","name":"Automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_screened_porch_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":340,"y":140,"wires":[["6f71eb27.2689d4"],[]]},{"id":"fed4007f.b0a1c","type":"inject","z":"815dd7af.2fb34","name":"At 6:30am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":260,"wires":[["9042d329.95b64"]]},{"id":"13519161.d48f5f","type":"api-call-service","z":"815dd7af.2fb34","name":"Turn ON kitchen lights","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.kitchen_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":260,"wires":[[]]},{"id":"f5d93080.d70908","type":"inject","z":"815dd7af.2fb34","name":"At midnight","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":440,"wires":[["a6acf92d.d15ae"]]},{"id":"9042d329.95b64","type":"api-current-state","z":"815dd7af.2fb34","name":"Automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_downstairs_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":320,"y":260,"wires":[["13519161.d48f5f"],[]]},{"id":"a6acf92d.d15ae","type":"api-current-state","z":"815dd7af.2fb34","name":"Automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_downstairs_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":340,"y":440,"wires":[["b1f3f9d525da510e","6b75571812620f2f"],[]]},{"id":"a9982fcd.8f151","type":"inject","z":"815dd7af.2fb34","name":"8am M-F","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":320,"wires":[["64802e2b.22424","f86509f603a9c521"]]},{"id":"64802e2b.22424","type":"api-call-service","z":"815dd7af.2fb34","name":"Turn OFF master lamp","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.master_bedroom_lamp"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":320,"wires":[[]]},{"id":"94ee5785e04e39c2","type":"http in","z":"815dd7af.2fb34","name":"Healthcheck","url":"/status","method":"get","upload":false,"swaggerDoc":"","x":870,"y":240,"wires":[["dbc334c0699bd97e"]]},{"id":"0c42320bd804f64b","type":"http response","z":"815dd7af.2fb34","name":"Response","statusCode":"200","headers":{},"x":1210,"y":240,"wires":[]},{"id":"dbc334c0699bd97e","type":"change","z":"815dd7af.2fb34","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"result\":\"ok\"}","tot":"json","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":240,"wires":[["0c42320bd804f64b"]]},{"id":"f86509f603a9c521","type":"api-call-service","z":"815dd7af.2fb34","name":"Turn OFF master light","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.shellyswitch25_68fc88_channel_1"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":380,"wires":[[]]},{"id":"a5c6cd41af812563","type":"server-state-changed","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","name":"Office Motion","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.office_motion","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":660,"wires":[["fd4d335642f54ea0"],["d9aa9776d98b98a5"]]},{"id":"ce785d9e7bf5fe85","type":"api-call-service","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","name":"Turn ON Office","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.office_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":560,"wires":[[]]},{"id":"db942c27c31b9c44","type":"function","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","name":"Office hours?","func":"const today = new Date()\nconst payload = { \"payload\": \"true\", \"date\": today, \"hours\": today.getHours() }\nif (today.getDay() === 0 || today.getDay() === 6) {\n    // is the weekend\n    return [null, payload]\n}\n\nif (today.getHours() >= 8 && today.getHours() < 18) {\n    return [payload, null]\n}\n\nreturn [null, payload]\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":820,"wires":[["adb7c73a7e01dc30"],["82a660b1c2e9a68f"]]},{"id":"82a660b1c2e9a68f","type":"trigger","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":490,"y":660,"wires":[["72e47610030274a0"]]},{"id":"adb7c73a7e01dc30","type":"trigger","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"overrideDelay":false,"units":"hr","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":490,"y":700,"wires":[["72e47610030274a0"]]},{"id":"10083a2107e2e678","type":"api-call-service","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","name":"Turn OFF Office","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.office_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":660,"wires":[[]]},{"id":"d9aa9776d98b98a5","type":"api-current-state","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","name":"Vacation mode?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.vacation_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":260,"y":720,"wires":[["82a660b1c2e9a68f"],["db942c27c31b9c44"]]},{"id":"b1f3f9d525da510e","type":"api-call-service","z":"815dd7af.2fb34","name":"Turn OFF downstairs lights","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["group.downstairs_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":420,"wires":[[]]},{"id":"6b75571812620f2f","type":"api-call-service","z":"815dd7af.2fb34","name":"Turn OFF front porch","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":["e552477f525f6debc07da745066f75e8"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":480,"wires":[[]]},{"id":"aa4edd077e870650","type":"server-state-changed","z":"815dd7af.2fb34","name":"Pantry Motion","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.pantry_motion","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":920,"wires":[["1d7053339e1246f8","ec43d9debf391407"],["ec43d9debf391407"]]},{"id":"1f2b559745e67e3a","type":"server-state-changed","z":"815dd7af.2fb34","name":"Pantry Light Detected","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.pantry_light","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1020,"wires":[["8e99e3250cc86606"],[]]},{"id":"8e99e3250cc86606","type":"api-current-state","z":"815dd7af.2fb34","name":"Light OFF?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.pantry_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":1020,"wires":[["1d7053339e1246f8"],[]]},{"id":"1d7053339e1246f8","type":"api-call-service","z":"815dd7af.2fb34","name":"Pantry Light ON","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pantry_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":900,"wires":[[]]},{"id":"ec43d9debf391407","type":"trigger","z":"815dd7af.2fb34","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":510,"y":960,"wires":[["e79bd47c56f4dc93"]]},{"id":"e79bd47c56f4dc93","type":"api-call-service","z":"815dd7af.2fb34","name":"Pantry Light OFF","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pantry_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":940,"wires":[[]]},{"id":"246b1d414afaaf62","type":"server-state-changed","z":"815dd7af.2fb34","g":"4b2747985bead9c1","name":"M. Closet Motion","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.master_closet_motion","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1120,"wires":[["16b11cfd31761811","3399048ccfaf7a09"],["3399048ccfaf7a09"]]},{"id":"16b11cfd31761811","type":"api-call-service","z":"815dd7af.2fb34","g":"4b2747985bead9c1","name":"Closet Light ON","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.master_bedroom_closet_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":1100,"wires":[[]]},{"id":"3399048ccfaf7a09","type":"trigger","z":"815dd7af.2fb34","g":"4b2747985bead9c1","name":"","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"on","bytopic":"all","topic":"topic","outputs":1,"x":330,"y":1160,"wires":[["9d6012c51cd30892"]]},{"id":"9d6012c51cd30892","type":"api-call-service","z":"815dd7af.2fb34","g":"4b2747985bead9c1","name":"Closet Light OFF","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.master_bedroom_closet_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":1140,"wires":[[]]},{"id":"0f2e9d0dc5ee7d06","type":"server-state-changed","z":"815dd7af.2fb34","name":"Bar Neon ON","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.bar_neon","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":1260,"wires":[["38859ab984750c6a"],["beb0a280d5270536"]]},{"id":"38859ab984750c6a","type":"api-call-service","z":"815dd7af.2fb34","name":"Turn ON Bar Counter LEDs","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bar_counter_leds"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":1240,"wires":[[]]},{"id":"f29cc1c0f023b396","type":"api-current-state","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","name":"Automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_office_motion","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":760,"y":660,"wires":[["10083a2107e2e678"],[]]},{"id":"60993bb2f608c9f6","type":"api-call-service","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","name":"Turn ON Office LEDs","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.office_leds"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":600,"wires":[[]]},{"id":"f61bf184d665d63c","type":"api-call-service","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","name":"Turn OFF Office LEDs","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.office_leds"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":720,"wires":[[]]},{"id":"14beceb10aa1fe78","type":"server-state-changed","z":"815dd7af.2fb34","g":"4593fc9454a71ee5","name":"Office Lights OFF","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.office_lights","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":740,"y":720,"wires":[["f61bf184d665d63c"],[]]},{"id":"beb0a280d5270536","type":"api-call-service","z":"815dd7af.2fb34","name":"Turn OFF Bar Counter LEDs","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.bar_counter_leds"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":1300,"wires":[[]]},{"id":"e9b86c8f.3f08b","type":"inject","z":"85eafe88.76595","name":"8pm on Tues","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 20 * * 2","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":120,"wires":[["0055cc56691495f6"]]},{"id":"88fda6368ae8bf79","type":"server-state-changed","z":"85eafe88.76595","name":"Spencer Moves","server":"ce932edc.ea08c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"person.spencer","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":180,"wires":[["a83f1ed5f724c36a"]]},{"id":"a83f1ed5f724c36a","type":"switch","z":"85eafe88.76595","name":"Left Mariposa","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"Mariposa","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":180,"wires":[["32ee1eade51fae50"]]},{"id":"504c9b06f4b43073","type":"inject","z":"85eafe88.76595","name":"8pm on Sun","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 20 * * 0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["0d4cb107b4f96161"]]},{"id":"5b89c8cfa024f63c","type":"server-state-changed","z":"85eafe88.76595","d":true,"name":"Motion at front door","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.front_door_last_motion","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":400,"wires":[["5d296b3556cbc566"],[]]},{"id":"5d296b3556cbc566","type":"http request","z":"85eafe88.76595","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cron.w00t.cloud/api/app/run_event?id=elceynx80tp&post_data=1&token=708e5e3ab06e4d3e305fdb82560adb9b78bcdd8d","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":330,"y":400,"wires":[["5bf356208b2b3891"]]},{"id":"ecbe3d4bec2deed6","type":"inject","z":"85eafe88.76595","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":460,"wires":[["5d296b3556cbc566"]]},{"id":"5bf356208b2b3891","type":"api-call-service","z":"85eafe88.76595","name":"Notify Alex","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_7_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Someone's at the front door\",\"title\":\"Front Door\",\"data\":{\"notifIcon\":\"mdi:doorbell-video\",\"image\":\"https://static.w00t.cloud/ring.jpg\",\"actions\":[{\"action\":\"LOCK_DOOR\",\"title\":\"Lock door\"},{\"action\":\"\",\"title\":\"Dismiss\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":400,"wires":[[]]},{"id":"32ee1eade51fae50","type":"function","z":"85eafe88.76595","name":"data","func":"msg.payload = \"Spencer left work\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":180,"wires":[["d0cfd20090ce7695"]]},{"id":"0055cc56691495f6","type":"function","z":"85eafe88.76595","name":"data","func":"msg.payload = \"Did you take the trash out?\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":120,"wires":[["bdce319c7df46517"]]},{"id":"0d4cb107b4f96161","type":"function","z":"85eafe88.76595","name":"data","func":"msg.payload = \"Do you have sheets for the kids tomorrow?\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":60,"wires":[["f76a1a5befe21d39"]]},{"id":"f76a1a5befe21d39","type":"subflow:6b67e6d94ce2bfe9","z":"85eafe88.76595","name":"Ari Sheets Reminder","x":500,"y":60,"wires":[]},{"id":"bdce319c7df46517","type":"subflow:6b67e6d94ce2bfe9","z":"85eafe88.76595","name":"Take Out Trash Reminder","x":490,"y":120,"wires":[]},{"id":"d0cfd20090ce7695","type":"subflow:6b67e6d94ce2bfe9","z":"85eafe88.76595","name":"","x":630,"y":180,"wires":[]},{"id":"2208ddfe21662514","type":"server-state-changed","z":"85eafe88.76595","name":"HVAC Setpoint Changes","server":"ce932edc.ea08c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":["sensor.hvac_setpoint_downstairs_high","sensor.hvac_setpoint_downstairs_low","sensor.hvac_setpoint_upstairs_high","sensor.hvac_setpoint_upstairs_low"],"entityIdType":"list","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":260,"wires":[["f741d56959e243a1"]]},{"id":"f741d56959e243a1","type":"function","z":"85eafe88.76595","name":"data","func":"msg.payload = `${msg.data.old_state.attributes.friendly_name} changed from ${msg.data.old_state.state} to ${msg.data.new_state.state}`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":260,"wires":[["bec8daece07c2ac2"]]},{"id":"bec8daece07c2ac2","type":"subflow:6b67e6d94ce2bfe9","z":"85eafe88.76595","name":"","x":450,"y":260,"wires":[]},{"id":"dcb2bf3a90e44abb","type":"api-current-state","z":"a448fa83752bc0e1","name":"Front Door Unlocked?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"unlocked","halt_if_type":"str","halt_if_compare":"is","entity_id":"lock.front_door_lock","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":220,"wires":[["19e61317de5220fe"],[]]},{"id":"906435f6.f54cc","type":"server-state-changed","z":"a448fa83752bc0e1","name":"Family is home?","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"group.family_members","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"home","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":80,"wires":[["f7b22da4.bdab3"],["d9e14bc6.c2be98","c7db43aa.3b99d","dcb2bf3a90e44abb","c52f9c8ca06cf8e8"]]},{"id":"bf0d3e9f.c862e8","type":"api-call-service","z":"a448fa83752bc0e1","name":"Turn OFF master","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.shellyswitch25_68fc88_channel_2","switch.master_bedroom_lamp","switch.shellyswitch25_68fc88_channel_1"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":100,"wires":[[]]},{"id":"c7db43aa.3b99d","type":"api-call-service","z":"a448fa83752bc0e1","name":"Turn OFF master outlet","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.master_bathroom_outlet"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":160,"wires":[[]]},{"id":"a5d366cf.a5267","type":"api-call-service","z":"a448fa83752bc0e1","name":"Turn ON master lamp","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.master_bedroom_lamp"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":40,"wires":[[]]},{"id":"7aa3f319.fc3d7c","type":"api-current-state","z":"a448fa83752bc0e1","name":"If after SUNSET","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":640,"y":40,"wires":[["a5d366cf.a5267"],[]]},{"id":"d9e14bc6.c2be98","type":"api-current-state","z":"a448fa83752bc0e1","name":"Master automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_master_bed_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":400,"y":100,"wires":[["bf0d3e9f.c862e8"],[]]},{"id":"f7b22da4.bdab3","type":"api-current-state","z":"a448fa83752bc0e1","d":true,"name":"Master automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_master_bed_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":400,"y":40,"wires":[["7aa3f319.fc3d7c"],[]]},{"id":"b7988f469b9c8ddb","type":"server-state-changed","z":"a448fa83752bc0e1","name":"Garage is OPENING","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"cover.ratgdov25i_8e6160_door","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"opening","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":360,"wires":[["e94477e16ebc5d97"],[]]},{"id":"8847ae9d70e1bce9","type":"api-call-service","z":"a448fa83752bc0e1","name":"Turn ON Garage Lts","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.garage_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":360,"wires":[[]]},{"id":"8364789e30c1f5c6","type":"server-state-changed","z":"a448fa83752bc0e1","name":"Garage CLOSED for 10min","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"cover.ratgdov25i_8e6160_door","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"closed","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":480,"wires":[["1a8caafb5607075d"],[]]},{"id":"1a8caafb5607075d","type":"api-call-service","z":"a448fa83752bc0e1","name":"Turn OFF Garage Lts","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.garage_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":480,"wires":[[]]},{"id":"e93cc19ea11f6b71","type":"server-state-changed","z":"a448fa83752bc0e1","name":"Garage OPENED for 1hr","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"cover.ratgdov25i_8e6160_door","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"open","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"1","forType":"num","forUnits":"hours","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":420,"wires":[["fee2716ddecc0c3d"],[]]},{"id":"fee2716ddecc0c3d","type":"function","z":"a448fa83752bc0e1","name":"data","func":"msg.payload = \"Did you mean to leave the garage door open?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":420,"wires":[["eea9525da0d54aa7"]]},{"id":"eea9525da0d54aa7","type":"subflow:6b67e6d94ce2bfe9","z":"a448fa83752bc0e1","name":"","x":470,"y":420,"wires":[]},{"id":"19e61317de5220fe","type":"function","z":"a448fa83752bc0e1","name":"data","func":"msg.payload = \"The front door is still unlocked!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":220,"wires":[["79af72ab77d6ab9b"]]},{"id":"79af72ab77d6ab9b","type":"subflow:6b67e6d94ce2bfe9","z":"a448fa83752bc0e1","name":"","x":690,"y":220,"wires":[]},{"id":"c52f9c8ca06cf8e8","type":"api-current-state","z":"a448fa83752bc0e1","name":"Garage Door OPEN","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"cover.garage_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":280,"wires":[["b1f79a0d28226c7f"],[]]},{"id":"b1f79a0d28226c7f","type":"function","z":"a448fa83752bc0e1","name":"data","func":"msg.payload = \"The garage is still open!\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":280,"wires":[["0483a420f81d5dd6"]]},{"id":"0483a420f81d5dd6","type":"subflow:6b67e6d94ce2bfe9","z":"a448fa83752bc0e1","name":"","x":690,"y":280,"wires":[]},{"id":"e94477e16ebc5d97","type":"api-current-state","z":"a448fa83752bc0e1","name":"After sunet?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":330,"y":360,"wires":[["8847ae9d70e1bce9"],[]]},{"id":"f85698192139c611","type":"server-state-changed","z":"a448fa83752bc0e1","name":"Garage Light ON for 1 hour","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.garage_lights","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"60","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":540,"wires":[["b1af0bea32bdcf52"],[]]},{"id":"b1af0bea32bdcf52","type":"api-call-service","z":"a448fa83752bc0e1","name":"Turn OFF Garage Lts","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.garage_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":540,"wires":[[]]},{"id":"978f06ed.f5189","type":"trigger-state","z":"a448fa83752bc0e1","name":"Alex Device Tracker","server":"ce932edc.ea08c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"device_tracker.pixel_7_pro","entityIdType":"exact","debugEnabled":false,"constraints":[],"customOutputs":[],"outputInitially":true,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":130,"y":680,"wires":[["9b4e4feb99a9b7d4"],[]]},{"id":"9b4e4feb99a9b7d4","type":"change","z":"a448fa83752bc0e1","name":"set vars","rules":[{"t":"set","p":"device_battery","pt":"msg","to":"sensor.pixel_7_pro_battery_level","tot":"str"},{"t":"set","p":"tracker_id","pt":"msg","to":"ap","tot":"str"},{"t":"set","p":"user_id","pt":"msg","to":"alex","tot":"str"},{"t":"set","p":"device_id","pt":"msg","to":"homeassistant","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":680,"wires":[["5b3dc93c.892c5"]]},{"id":"5b3dc93c.892c5","type":"delay","z":"a448fa83752bc0e1","name":"rate limit 1 per 10s","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":530,"y":700,"wires":[["301f763b.98140a"]]},{"id":"301f763b.98140a","type":"function","z":"a448fa83752bc0e1","name":"device data to owntracks json","func":"const globalHomeAssistant = global.get('homeassistant');\n\n// Get timestamp as epoch format\nconst timestamp = Math.floor(Date.now() / 1000);\n\n// Entity ID of battery level sensor from the mobile app\nconst battery_level = globalHomeAssistant.homeAssistant.states[msg.device_battery].state;\n\n// Get tracker ID (2 chars)\nconst tracker_id = msg.tracker_id;\n\n// Set the connection type. Hardcoded to wireless since it's an unimportant metric.\nconst connection_type = 'w';\n\n// Get device GPS accuracy\nconst gps_accuracy = msg.data.event.new_state.attributes.gps_accuracy;\n\n// Get device vertical accuracy\nconst vertical_accuracy = msg.data.event.new_state.attributes.vertical_accuracy;\n\n// Get device altitude\nconst altitude = msg.data.event.new_state.attributes.altitude;\n\n// Get device latitude\nconst latitude = msg.data.event.new_state.attributes.latitude;\n\n// Get device longitude\nconst longitude = msg.data.event.new_state.attributes.longitude;\n\n// Get device speed\n// The device_tracker entity from the HASS mobile app uses m/s as the unit\n// for the speed attribute, so we multiply by 3.6 to convert to the expected km/h\nconst velocity = msg.data.event.new_state.attributes.speed * 3.6;\n\n// Get device course\nconst course = msg.data.event.new_state.attributes.course;\n\n// Construct msg.payload as a JavaScript object\nmsg.payload = {\n    _type: 'location',\n    acc: gps_accuracy,\n    alt: altitude,\n    batt: battery_level,\n    conn: connection_type,\n    lat: latitude,\n    lon: longitude,\n    tid: tracker_id,\n    tst: timestamp,\n    vac: vertical_accuracy,\n    vel: velocity,\n    cog: course,\n};\n\n// Convert msg.payload to minified JSON\nmsg.payload = JSON.stringify(msg.payload);\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":700,"wires":[["8c852383ada7d61a"]]},{"id":"8c852383ada7d61a","type":"http request","z":"a448fa83752bc0e1","name":"POST to Owntracks","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://owntracks:8083/pub","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"X-Limit-U","valueType":"msg","valueValue":"user_id"},{"keyType":"other","keyValue":"X-Limit-D","valueType":"msg","valueValue":"device_id"}],"x":1060,"y":700,"wires":[[]]},{"id":"620e0b076f5649ce","type":"trigger-state","z":"a448fa83752bc0e1","name":"Spencer Device Tracker","server":"ce932edc.ea08c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":"device_tracker.spencer_s_pixel_7_pro","entityIdType":"exact","debugEnabled":false,"constraints":[],"customOutputs":[],"outputInitially":true,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":740,"wires":[["86d5beee7976a77a"],[]]},{"id":"86d5beee7976a77a","type":"change","z":"a448fa83752bc0e1","name":"set vars","rules":[{"t":"set","p":"device_battery","pt":"msg","to":"sensor.pixel_7_pro_battery_level","tot":"str"},{"t":"set","p":"tracker_id","pt":"msg","to":"sp","tot":"str"},{"t":"set","p":"user_id","pt":"msg","to":"spencer","tot":"str"},{"t":"set","p":"device_id","pt":"msg","to":"homeassistant","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":740,"wires":[["5b3dc93c.892c5"]]},{"id":"38f0e83e.697e88","type":"server-state-changed","z":"142113522f526340","name":"At Sunset","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sun.sun","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"below_horizon","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":220,"wires":[["3c580679.4d290a","681d964e.7a60d8","44c7e084dd137ba6"],[]]},{"id":"b0077b38.5fe488","type":"api-call-service","z":"142113522f526340","name":"Turn ON master lamp","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.master_bedroom_lamp"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":120,"wires":[[]]},{"id":"3c580679.4d290a","type":"api-current-state","z":"142113522f526340","name":"If family is HOME","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family_members","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":310,"y":100,"wires":[["69df968f.8ac86","f1341f7a.9567f"],[]]},{"id":"69df968f.8ac86","type":"api-current-state","z":"142113522f526340","name":"S. Porch automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_screened_porch_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":590,"y":40,"wires":[["aaaba4b.5541158"],[]]},{"id":"f1341f7a.9567f","type":"api-current-state","z":"142113522f526340","d":true,"name":"Master automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_master_bed_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":580,"y":100,"wires":[["b0077b38.5fe488"],[]]},{"id":"84b0a0a.cbcdf6","type":"delay","z":"142113522f526340","name":"Wait up to 20 mins","pauseType":"random","timeout":"60","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"20","randomUnits":"minutes","drop":false,"outputs":1,"x":550,"y":180,"wires":[["46a7841a.9f160c"]]},{"id":"46a7841a.9f160c","type":"api-call-service","z":"142113522f526340","name":"Turn ON foyer","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.foyer_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":180,"wires":[[]]},{"id":"681d964e.7a60d8","type":"api-current-state","z":"142113522f526340","name":"Automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_foyer_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":320,"y":180,"wires":[["84b0a0a.cbcdf6"],[]]},{"id":"aaaba4b.5541158","type":"api-call-service","z":"142113522f526340","name":"Turn ON screen porch","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.porch_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":60,"wires":[[]]},{"id":"080b1b67aa4727df","type":"inject","z":"142113522f526340","name":"At 11pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":460,"wires":[["4fd7ee1389698d32","980b1493ab3a4608"]]},{"id":"4fd7ee1389698d32","type":"api-call-service","z":"142113522f526340","name":"Front Porch LEDs OFF","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["28402b9a15327c8f0fbba1fb35d30683"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":460,"wires":[[]]},{"id":"44c7e084dd137ba6","type":"api-call-service","z":"142113522f526340","d":true,"name":"Front Porch LEDs ON","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["28402b9a15327c8f0fbba1fb35d30683"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":300,"wires":[["4121d64b31e2b775"]]},{"id":"4121d64b31e2b775","type":"api-call-service","z":"142113522f526340","name":"Halloween Effect","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":["28402b9a15327c8f0fbba1fb35d30683"],"entityId":[],"data":"{\"option\":\"Halloween\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":300,"wires":[[]]},{"id":"f339a22441773148","type":"function","z":"142113522f526340","d":true,"name":"Was unavailable?","func":"if (msg.data.old_state.state == \"unavailable\") {\n    return [msg, null]\n}\n\nreturn [null, msg]\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":320,"wires":[["dc017a92cccc65d5"],[]]},{"id":"5f641d1a28e5e796","type":"server-state-changed","z":"142113522f526340","name":"Front Porch LEDs is OFF","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.front_porch_leds","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":320,"wires":[["f339a22441773148","dc017a92cccc65d5"],[]]},{"id":"dc017a92cccc65d5","type":"api-current-state","z":"142113522f526340","name":"If after SUNSET","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":580,"y":380,"wires":[["68d8f37f04abecdb"],[]]},{"id":"68d8f37f04abecdb","type":"function","z":"142113522f526340","name":"Compare Times","func":"let hours = new Date().getHours()\n// Not only check if before 11pm, but also check if \"after sunet\" isn't like 4am...\n// So using 4pm arbitrarily here since that's a good number that's likely before\n// any sunset of the same day.\nif (hours > 16 && hours < 23) {\n    return {payload: \"true\"}\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":380,"wires":[["44c7e084dd137ba6"]]},{"id":"980b1493ab3a4608","type":"api-call-service","z":"142113522f526340","name":"Turn OFF screen porch","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.porch_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":520,"wires":[[]]},{"id":"1a45f86f.c2e96","type":"server-state-changed","z":"4060d872.399cd8","d":true,"name":"If power is out","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.ups_ac_power","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"0","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"2","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":80,"wires":[["e9f65aa1.8111d","36bb3e58.aff652"],["a9e8861a.1a72c8"]]},{"id":"e9f65aa1.8111d","type":"api-call-service","z":"4060d872.399cd8","name":"Notify Alex","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"telegram_alex","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"The power is out!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":60,"wires":[[]]},{"id":"a9e8861a.1a72c8","type":"api-call-service","z":"4060d872.399cd8","name":"Notify Alex","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"telegram_alex","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"The power is back!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":180,"wires":[[]]},{"id":"36bb3e58.aff652","type":"http request","z":"4060d872.399cd8","name":"Shutdown server","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.91:9091/hooks/shutdown","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":120,"wires":[[]]},{"id":"62c53ba0.b6a0bc","type":"server-state-changed","z":"aff70799.04bd78","d":true,"name":"Bonus Room: Power","server":"ce932edc.ea08c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.harmony_power_toggle","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":180,"wires":[["1a60d42c.380dbc"]]},{"id":"1a60d42c.380dbc","type":"api-current-state","z":"aff70799.04bd78","name":"Is power ON?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"remote.bonus_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":320,"y":180,"wires":[["9dd31458.fb703"],["1b0c9292.31f495"]]},{"id":"9dd31458.fb703","type":"api-call-service","z":"aff70799.04bd78","name":"Turn OFF","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"remote","service":"turn_off","areaId":[],"deviceId":[],"entityId":["remote.bonus_room"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":140,"wires":[[]]},{"id":"1b0c9292.31f495","type":"api-call-service","z":"aff70799.04bd78","name":"Turn ON","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"remote","service":"turn_on","areaId":[],"deviceId":[],"entityId":["remote.bonus_room"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":200,"wires":[[]]},{"id":"18286048.228088","type":"inject","z":"aff70799.04bd78","d":true,"name":"At midnight","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["b6548bd9.4bbf48"]]},{"id":"b6548bd9.4bbf48","type":"api-current-state","z":"aff70799.04bd78","name":"Is power ON?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"remote.bonus_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":320,"y":120,"wires":[["9dd31458.fb703"],[]]},{"id":"f24dfd92.77867","type":"server-state-changed","z":"aff70799.04bd78","d":true,"name":"If power is out","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.ups_ac_power","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"0","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":60,"wires":[["b6548bd9.4bbf48"],[]]},{"id":"e5911a9aa593ae2f","type":"http in","z":"aff70799.04bd78","d":true,"name":"Plex Webhook","url":"/plex","method":"post","upload":true,"swaggerDoc":"","x":110,"y":280,"wires":[["2f31f6d4a49f75f4"]]},{"id":"2f31f6d4a49f75f4","type":"function","z":"aff70799.04bd78","name":"","func":"msg.payload = JSON.parse(msg.payload.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":280,"wires":[["627f9d71ccd426f3"]]},{"id":"01f0c979d6d8e049","type":"switch","z":"aff70799.04bd78","name":"Media Started?","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"media.play","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":280,"wires":[["e1600e794b3f1e8e","e419efdf9145d615"]]},{"id":"627f9d71ccd426f3","type":"switch","z":"aff70799.04bd78","name":"External?","property":"payload.Player.local","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":280,"wires":[["01f0c979d6d8e049"]]},{"id":"e1600e794b3f1e8e","type":"http request","z":"aff70799.04bd78","name":"Disable QBT speed limits","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cron.w00t.cloud/api/app/run_event?id=el4bsk8lflg&post_data=1&token=3e02cf03e6f6e6095598a554f8ee761267c99d4a","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":850,"y":280,"wires":[[]]},{"id":"e419efdf9145d615","type":"api-call-service","z":"aff70799.04bd78","name":"Notify Alex","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"telegram_alex","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Enabling DL speed limits\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":340,"wires":[[]]},{"id":"ac22cc8e36856991","type":"http request","z":"aff70799.04bd78","g":"46b2846328790ffb","name":"Share Plex Other","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://ce.w00t.cloud/api/app/run_event?id=eloqfy8lgkn&post_data=1&api_key=67c115b9bec908c992bbb11106f97504","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":390,"y":600,"wires":[[]]},{"id":"dfd99521a850410c","type":"http request","z":"aff70799.04bd78","g":"46b2846328790ffb","name":"Unshare Plex Other","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://ce.w00t.cloud/api/app/run_event?id=elok4q4if2c&post_data=1&api_key=67c115b9bec908c992bbb11106f97504","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":390,"y":660,"wires":[[]]},{"id":"5d12cc4a24503b76","type":"server-state-changed","z":"aff70799.04bd78","g":"46b2846328790ffb","name":"Share Plex Other","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_boolean.plex_share_other","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":620,"wires":[["ac22cc8e36856991"],["dfd99521a850410c"]]},{"id":"62ea160565343924","type":"inject","z":"aff70799.04bd78","g":"46b2846328790ffb","name":"At midnight","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":700,"wires":[["53cf4d82854d24bc"]]},{"id":"53cf4d82854d24bc","type":"api-call-service","z":"aff70799.04bd78","g":"46b2846328790ffb","name":"Unshare Plex Other","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.plex_share_other"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":720,"wires":[[]]},{"id":"0fa506b7a8b8e693","type":"server-state-changed","z":"aff70799.04bd78","g":"8f34b20a3ab7eed8","name":"YouTube DNS","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_boolean.youtube_dns","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":840,"wires":[["0fa1c20e384f7c75"],["248e86a8cd7702f7"]]},{"id":"bf69bae161a81e92","type":"http request","z":"aff70799.04bd78","g":"8f34b20a3ab7eed8","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://dns.w00t.cloud/control/blocked_services/update","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Basic YWRtaW46bXptTkhjZkhvaHJVQnpianlIQ040Rmh3OGtQ"}],"x":650,"y":840,"wires":[[]]},{"id":"5644e3f585a62d8c","type":"function","z":"aff70799.04bd78","g":"8f34b20a3ab7eed8","name":"function 1","func":"msg.payload = JSON.parse(msg.payload)\nmsg.payload.ids = msg.payload.ids.filter(x => ![\"youtube\"].includes(x))\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":820,"wires":[["bf69bae161a81e92"]]},{"id":"0fa1c20e384f7c75","type":"http request","z":"aff70799.04bd78","g":"8f34b20a3ab7eed8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://dns.w00t.cloud/control/blocked_services/get","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Basic YWRtaW46bXptTkhjZkhvaHJVQnpianlIQ040Rmh3OGtQ"}],"x":310,"y":820,"wires":[["5644e3f585a62d8c"]]},{"id":"8e36abd08476cc49","type":"function","z":"aff70799.04bd78","g":"8f34b20a3ab7eed8","name":"function 2","func":"msg.payload = JSON.parse(msg.payload)\nmsg.payload.ids.push(\"youtube\")\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":880,"wires":[["bf69bae161a81e92"]]},{"id":"248e86a8cd7702f7","type":"http request","z":"aff70799.04bd78","g":"8f34b20a3ab7eed8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://dns.w00t.cloud/control/blocked_services/get","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Basic YWRtaW46bXptTkhjZkhvaHJVQnpianlIQ040Rmh3OGtQ"}],"x":310,"y":880,"wires":[["8e36abd08476cc49"]]},{"id":"89cbe51795c3626b","type":"inject","z":"aff70799.04bd78","d":true,"g":"8f34b20a3ab7eed8","name":"At 3am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":940,"wires":[["15ee9a75aafbc9a6"]]},{"id":"15ee9a75aafbc9a6","type":"api-call-service","z":"aff70799.04bd78","g":"8f34b20a3ab7eed8","name":"Disable YouTube","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.youtube_dns"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":940,"wires":[[]]},{"id":"bbb5c1397889ec8b","type":"inject","z":"aff70799.04bd78","d":true,"g":"8f34b20a3ab7eed8","name":"At 8am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1000,"wires":[["06a9a3380f1d3b40"]]},{"id":"06a9a3380f1d3b40","type":"api-call-service","z":"aff70799.04bd78","g":"8f34b20a3ab7eed8","name":"Enable YouTube","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.youtube_dns"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":300,"y":1000,"wires":[[]]},{"id":"d48bd5119d1fe920","type":"api-call-service","z":"307e7496096e129b","name":"Play on All Speaker Group","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"squeezebox","service":"call_method","areaId":[],"deviceId":[],"entityId":["media_player.all_speaker_group"],"data":"{\"command\":msg.data.command,\"parameters\":msg.data.parameters}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":640,"wires":[[]]},{"id":"b50811bd20a91a19","type":"function","z":"307e7496096e129b","name":"Get Station URL","func":"const details = msg.data.entity_id.match(/pandora_(.+)/)\nconst station = details[1]\n\nmsg.data = {\n    \"entity_id\": `media_player.all_speaker_group`,\n    \"command\": \"playlist\",\n    \"parameters\": [\n        \"play\",\n    ]\n}\n\nswitch (station) {\n    case \"jimmy_buffett\":\n        msg.data.parameters.push(\"pyrrha://3419dd2b4a53db1f84eaa58d4ca6a490/2036984121102392916.mp3\")\n        break;\n    case \"david_gilmour\":\n        msg.data.parameters.push(\"pyrrha://3419dd2b4a53db1f84eaa58d4ca6a490/3866767371769962068.mp3\")\n        break;\n    case 'david_bowie':\n        msg.data.parameters.push(\"pyrrha://3419dd2b4a53db1f84eaa58d4ca6a490/4148630132487839316.mp3\")\n        break;\n    case 'ben_folds':\n        msg.data.parameters.push(\"pyrrha://3419dd2b4a53db1f84eaa58d4ca6a490/3949017511611817556.mp3\")\n        break;\n    case 'yellowcard':\n        msg.data.parameters.push(\"pyrrha://3419dd2b4a53db1f84eaa58d4ca6a490/487100461731241556.mp3\")\n        break;\n    case 'brand_new':\n        msg.data.parameters.push(\"pyrrha://3419dd2b4a53db1f84eaa58d4ca6a490/474214292827889236.mp3\")\n        break;\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":640,"wires":[["d48bd5119d1fe920"]]},{"id":"5b3f85afa997a65a","type":"api-current-state","z":"307e7496096e129b","name":"Get Current Source","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"{{data.entity_id}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":160,"wires":[["59f7aee67a138cf2"]]},{"id":"eddceff40b122089","type":"api-call-service","z":"307e7496096e129b","name":"Set Zone Source","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.{{flow.entity}}"],"data":"{\"source\":payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":160,"wires":[[]]},{"id":"923c6552574735f8","type":"function","z":"307e7496096e129b","name":"","func":"const player_name = msg.data.entity_id.match(/wha_(.+)/)[1]\nmsg.data.entity_id = `sensor.speaker_source_${player_name}`\nmsg.state = msg.payload\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":120,"wires":[["5b3f85afa997a65a"]]},{"id":"dfcf73a6e19ba136","type":"function","z":"307e7496096e129b","name":"Get Player's Zone","func":"const player_name = msg.data.entity_id.match(/wha_(.+)/)[1]\nmsg.player = player_name\nmsg.zone = {\n    \"squirtle_snapcast_client\": \"Kitchen\",\n    \"charizard_snapcast_client\": \"Porch\",\n    \"p50_snapcast_client\": \"Office\",\n}[player_name]\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":80,"wires":[["76542f48dc4f6f06"]]},{"id":"76542f48dc4f6f06","type":"change","z":"307e7496096e129b","name":"Set Flow Player and Zone","rules":[{"t":"set","p":"entity","pt":"flow","to":"player","tot":"msg"},{"t":"set","p":"zone","pt":"flow","to":"zone","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":80,"wires":[[]]},{"id":"04d3fcf7b1c095dc","type":"trigger-state","z":"307e7496096e129b","name":"WHA: Zone Switch","server":"ce932edc.ea08c","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":["input_boolean.wha_squirtle_snapcast_client","input_boolean.wha_charizard_snapcast_client","input_boolean.wha_p50_snapcast_client"],"entityIdType":"list","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"x":130,"y":100,"wires":[["dfcf73a6e19ba136","923c6552574735f8","9ca9a86e3e3a7114"],["dfcf73a6e19ba136","923c6552574735f8"]]},{"id":"e7c13688670ff52f","type":"server-state-changed","z":"307e7496096e129b","name":"WHA Server Source Off","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.all_speaker_group","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":800,"wires":[["68b5695c1ca107d4"],[]]},{"id":"1124b1aefca65106","type":"api-call-service","z":"307e7496096e129b","name":"Disconnect all zones","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.wha_squirtle_snapcast_client","input_boolean.wha_p50_snapcast_client","input_boolean.wha_charizard_snapcast_client"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":800,"wires":[[]]},{"id":"2ebcb7d86554243d","type":"trigger-state","z":"307e7496096e129b","name":"WHA: Pandora Station","server":"ce932edc.ea08c","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":["input_button.wha_pandora_david_gilmour","input_button.wha_pandora_david_bowie","input_button.wha_pandora_jimmy_buffet","input_button.wha_pandora_queen","input_button.wha_pandora_tab_benoit","input_button.wha_pandora_ben_folds","input_button.wha_pandora_yellowcard","input_button.wha_pandora_brand_new"],"entityIdType":"list","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":""}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"x":140,"y":640,"wires":[["b50811bd20a91a19"],["b50811bd20a91a19"]]},{"id":"fabd6752648a8e20","type":"trigger-state","z":"307e7496096e129b","name":"All Speaker Group Playing","server":"ce932edc.ea08c","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.all_speaker_group","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playing"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"x":150,"y":720,"wires":[["de6547d5a5df4509"],[]]},{"id":"de6547d5a5df4509","type":"api-call-service","z":"307e7496096e129b","name":"Enable Kitchen","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.wha_squirtle_snapcast_client"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":720,"wires":[["8dba3e166ab398ff"]]},{"id":"77f360d3eacabd95","type":"api-call-service","z":"307e7496096e129b","name":"Set Zone Volume","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["{{data.entity_id}}"],"data":"{\"volume_level\":$number(payload) / 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":920,"wires":[[]]},{"id":"afda6fced0a4d50b","type":"function","z":"307e7496096e129b","name":"","func":"const player_name = msg.data.entity_id.match(/input_number\\.(.+?)_volume/)[1]\nmsg.data.entity_id = `media_player.${player_name}_snapcast_client`\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":920,"wires":[["77f360d3eacabd95"]]},{"id":"ba1ea207f90f13fd","type":"trigger-state","z":"307e7496096e129b","name":"WHA: Zone Volume","server":"ce932edc.ea08c","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":["input_number.squirtle_volume","input_number.charizard_volume","input_number.wartortle_volume"],"entityIdType":"list","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":""}],"customOutputs":[],"outputInitially":false,"stateType":"num","enableInput":false,"x":130,"y":920,"wires":[["afda6fced0a4d50b"],["afda6fced0a4d50b"]]},{"id":"c6ccad95af3b59b1","type":"server-state-changed","z":"307e7496096e129b","name":"WHA Source Change","server":"ce932edc.ea08c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_select.wha_sources","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":440,"wires":[["9db9fb06ea15fb29"]]},{"id":"e307e645f1a8253f","type":"api-current-state","z":"307e7496096e129b","name":"Kitchen Zone On WHA?","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wha_squirtle_snapcast_client","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"source","propertyType":"msg","value":"source","valueType":"flow"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":380,"wires":[["fd9ed50077bc8696"]]},{"id":"f2c268c3bbe1fa1b","type":"change","z":"307e7496096e129b","name":"Set Vars","rules":[{"t":"set","p":"source","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["e307e645f1a8253f","e12fd73b6b9f6d9d","a03b56fcefecf47b"]]},{"id":"9db9fb06ea15fb29","type":"subflow:4e9a8897b6da89cc","z":"307e7496096e129b","name":"","x":260,"y":400,"wires":[["f2c268c3bbe1fa1b","3f9d0c1206c6a0ca"]]},{"id":"8e201c336b0ee89b","type":"api-call-service","z":"307e7496096e129b","name":"Set Active Zones Source","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["{{payload}}"],"data":"{\"source\":msg.source}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1090,"y":440,"wires":[[]]},{"id":"e12fd73b6b9f6d9d","type":"api-current-state","z":"307e7496096e129b","name":"Porch Zone On WHA?","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wha_charizard_snapcast_client","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"source","propertyType":"msg","value":"source","valueType":"flow"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":440,"wires":[["fd9ed50077bc8696"]]},{"id":"a03b56fcefecf47b","type":"api-current-state","z":"307e7496096e129b","name":"Office Zone On WHA?","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wha_p50_snapcast_client","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"source","propertyType":"msg","value":"source","valueType":"flow"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":500,"wires":[["fd9ed50077bc8696"]]},{"id":"fd9ed50077bc8696","type":"join","z":"307e7496096e129b","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":440,"wires":[["e94aa86e4a34263d"]]},{"id":"690730e2290fe141","type":"split","z":"307e7496096e129b","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":910,"y":440,"wires":[["8e201c336b0ee89b"]]},{"id":"e94aa86e4a34263d","type":"function","z":"307e7496096e129b","name":"Filter Active Zones","func":"var active_zones = []\nfor (const zone of msg.payload) {\n    if (zone.state == \"off\") {\n        continue;\n    }\n\n    var player_name = zone.entity_id.match(/wha_(.+)/)[1]\n    active_zones.push(`media_player.${player_name}`)\n}\n\nmsg.payload = active_zones.join(\"\\n\")\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":400,"wires":[["690730e2290fe141"]]},{"id":"9ca9a86e3e3a7114","type":"subflow:4e9a8897b6da89cc","z":"307e7496096e129b","name":"","x":370,"y":40,"wires":[["432ff6a051622daf"]]},{"id":"432ff6a051622daf","type":"change","z":"307e7496096e129b","name":"Set Flow WHA Source","rules":[{"t":"set","p":"source","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":40,"wires":[[]]},{"id":"59f7aee67a138cf2","type":"function","z":"307e7496096e129b","name":"Determine source to set","func":"const wha_source = flow.get(\"source\")\nif (msg.state == \"on\" && msg.payload != wha_source) {\n    msg.payload = wha_source\n} else {\n    msg.payload = flow.get(\"zone\") + \" Music\"\n}\nreturn msg","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":120,"wires":[["eddceff40b122089"]]},{"id":"3f9d0c1206c6a0ca","type":"api-current-state","z":"307e7496096e129b","name":"Is source \"server\"?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"Server","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.wha_sources","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":320,"wires":[["f67ccb20f04b0488"],["978f0bc429799a32"]]},{"id":"978f0bc429799a32","type":"api-call-service","z":"307e7496096e129b","name":"Pause server music","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"media_player","service":"media_pause","areaId":[],"deviceId":[],"entityId":["media_player.all_speaker_group"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":340,"wires":[[]]},{"id":"f67ccb20f04b0488","type":"api-call-service","z":"307e7496096e129b","name":"Pause Alexa","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"media_player","service":"media_pause","areaId":[],"deviceId":[],"entityId":["media_player.play_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":300,"wires":[[]]},{"id":"8dba3e166ab398ff","type":"api-call-service","z":"307e7496096e129b","name":"Set Source to All Music","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.squirtle_snapcast_client"],"data":"{\"source\":\"All Music\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":720,"wires":[[]]},{"id":"68b5695c1ca107d4","type":"subflow:4e9a8897b6da89cc","z":"307e7496096e129b","name":"","x":270,"y":840,"wires":[["a30938a53c0d75de"]]},{"id":"a30938a53c0d75de","type":"switch","z":"307e7496096e129b","name":"WHA Source is Server?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"All Music","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":800,"wires":[["1124b1aefca65106"]]},{"id":"2c425517.5e8a1a","type":"api-current-state","z":"abd41c15.11de4","name":"Automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.lucys_time_to_wake","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":320,"y":340,"wires":[["5fea91185eba10b4"],[]]},{"id":"7bb9efdf.6224c","type":"function","z":"abd41c15.11de4","name":"Compare Times","func":"for (let index in msg.payload) {\n    let parsed_alarm_time = msg.payload[index].match(/(\\d+:\\d+):\\d+/)\n    if (parsed_alarm_time) {\n        msg.payload[index] = parsed_alarm_time[1]   \n    }\n}\n\n// node.warn(msg.payload)\n\nif (msg.payload[0] == msg.payload[1]) {\n    return { \"payload\": true }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":380,"wires":[["e15ab793.afff88"]]},{"id":"e1a4af6c.dcd7d","type":"api-current-state","z":"abd41c15.11de4","name":"Weekend Time","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.lucys_time_to_wake_weekend","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":920,"y":280,"wires":[["37bc94ca.b9385c"]]},{"id":"b2e06852.47eb38","type":"api-current-state","z":"abd41c15.11de4","name":"Current time","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.time","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":730,"y":380,"wires":[["37bc94ca.b9385c"]]},{"id":"37bc94ca.b9385c","type":"join","z":"abd41c15.11de4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":380,"wires":[["7bb9efdf.6224c"]]},{"id":"74d8bde3.932ef4","type":"function","z":"abd41c15.11de4","name":"Is weekend?","func":"const today = new Date()\nconst payload = { \"payload\": \"true\" }\nif (today.getDay() === 0 || today.getDay() === 6) {\n    // is the weekend\n    return [payload, null]\n}\n\nreturn [null, payload]","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":320,"wires":[["e1a4af6c.dcd7d"],["b78687ea.0d9848"]]},{"id":"b78687ea.0d9848","type":"api-current-state","z":"abd41c15.11de4","name":"Weekday Time","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_datetime.lucys_time_to_wake_weekday","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":0,"forType":"num","forUnits":"minutes","x":920,"y":340,"wires":[["37bc94ca.b9385c"]]},{"id":"23b3e5c2.b7c8aa","type":"server-state-changed","z":"abd41c15.11de4","name":"Sleepy Light","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_boolean.sleepy_light","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":480,"wires":[["a74dd247.c3f0e"],["59df3b67.ee4654"]]},{"id":"b21eb3f.1e6415","type":"api-call-service","z":"abd41c15.11de4","name":"Lucy's Light ON","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.lucy_s_light_white"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":460,"wires":[[]]},{"id":"e15ab793.afff88","type":"api-call-service","z":"abd41c15.11de4","name":"Toggle Lucy's Wake Up Light Scene","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.lucy_s_wake_up_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":380,"wires":[["aa3536e0.8a46e8","71c25ddb.172084","faa4445a200ebc7c"]]},{"id":"59df3b67.ee4654","type":"api-call-service","z":"abd41c15.11de4","name":"Lucy's Light OFF","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.lucy_s_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":540,"wires":[[]]},{"id":"a2442035.e19d","type":"server-state-changed","z":"abd41c15.11de4","name":"Lucy's Light Turns ON","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.lucy_s_light","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":660,"wires":[["737ead12.581894"],["f786a24d.81093"]]},{"id":"737ead12.581894","type":"api-call-service","z":"abd41c15.11de4","name":"Sleepy Light ON","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.sleepy_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":620,"wires":[[]]},{"id":"f786a24d.81093","type":"api-call-service","z":"abd41c15.11de4","name":"Sleepy Light OFF","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.sleepy_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":680,"wires":[[]]},{"id":"a74dd247.c3f0e","type":"api-current-state","z":"abd41c15.11de4","name":"Light OFF?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.lucy_s_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":290,"y":460,"wires":[["b21eb3f.1e6415"],[]]},{"id":"c3562b27.779098","type":"inject","z":"abd41c15.11de4","name":"Ever min.","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":340,"wires":[["2c425517.5e8a1a"]]},{"id":"aa3536e0.8a46e8","type":"api-call-service","z":"abd41c15.11de4","d":true,"name":"Notify Alex","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"telegram_alex","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Lucy's awake!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1750,"y":320,"wires":[[]]},{"id":"71c25ddb.172084","type":"api-call-service","z":"abd41c15.11de4","d":true,"name":"Notify Spencer","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"telegram_spencer","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Lucy's awake!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1760,"y":380,"wires":[[]]},{"id":"767aa7f7.ec1b18","type":"server-events","z":"abd41c15.11de4","name":"Lucy's Naptime Over","server":"ce932edc.ea08c","version":3,"exposeAsEntityConfig":"","eventType":"timer.finished","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":1140,"y":300,"wires":[["8d59162d.ebc888"]]},{"id":"8d59162d.ebc888","type":"switch","z":"abd41c15.11de4","name":"","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"timer.lucys_naptime","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":300,"wires":[["e15ab793.afff88","a05caeb7.5e69","f39b05bd.49bc08"]]},{"id":"a05caeb7.5e69","type":"api-call-service","z":"abd41c15.11de4","name":"Reset Naptime Duration","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.lucys_naptime"],"data":"{\"value\":120}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1550,"y":260,"wires":[[]]},{"id":"f39b05bd.49bc08","type":"api-call-service","z":"abd41c15.11de4","name":"Reset Naptime Toggle","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"timer","service":"cancel","areaId":[],"deviceId":[],"entityId":["timer.lucys_naptime"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":320,"wires":[[]]},{"id":"57f69e09.0a431","type":"server-state-changed","z":"abd41c15.11de4","name":"Lucy's Light comes ON","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.lucy_s_light","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1300,"y":240,"wires":[["a05caeb7.5e69","f39b05bd.49bc08"],[]]},{"id":"e739854d.233418","type":"server-state-changed","z":"abd41c15.11de4","d":true,"name":"Start Lucy's Naptime","server":"ce932edc.ea08c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.lucys_naptime_start_pause","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":100,"wires":[["9309c29b.b9894"]]},{"id":"9309c29b.b9894","type":"api-current-state","z":"abd41c15.11de4","name":"Get Timer State","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"timer.lucys_naptime","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":340,"y":100,"wires":[["abecac9.3edba5"]]},{"id":"abecac9.3edba5","type":"switch","z":"abd41c15.11de4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"active","vt":"str"},{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"paused","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":100,"wires":[["3db88d45.f7d8b2"],["f1ddcc0a.931f8"],["3b0e1459.9f02fc"]]},{"id":"d5c719d2.edd0c8","type":"api-call-service","z":"abd41c15.11de4","name":"START Naptime Timer","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.lucys_naptime"],"data":"{\"duration\": $number(payload) * 60}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":100,"wires":[["2c94b073.33e84"]]},{"id":"9a600eb1.2d525","type":"api-call-service","z":"abd41c15.11de4","d":true,"name":"Notify Spencer","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"telegram_spencer","areaId":[],"deviceId":[],"entityId":[],"data":"{   \"message\": $join(  [      \"Lucy's nap will be over at \",      $moment(data.attributes.finishes_at).format('h:mm A')      ]  ) }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":160,"wires":[[]]},{"id":"6effc643.42edd8","type":"api-call-service","z":"abd41c15.11de4","d":true,"name":"Notify Alex","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"telegram_alex","areaId":[],"deviceId":[],"entityId":[],"data":"{   \"message\": $join(  [      \"Lucy's nap will be over at \",      $moment(data.attributes.finishes_at).format('h:mm A')      ]  ) }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":100,"wires":[[]]},{"id":"f1ddcc0a.931f8","type":"api-current-state","z":"abd41c15.11de4","name":"Get Naptime Duration","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.lucys_naptime","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":660,"y":100,"wires":[["d5c719d2.edd0c8"]]},{"id":"3db88d45.f7d8b2","type":"api-call-service","z":"abd41c15.11de4","name":"PAUSE Naptime Timer","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"timer","service":"pause","areaId":[],"deviceId":[],"entityId":["timer.lucys_naptime"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":40,"wires":[["1d113c2e.5752c4"]]},{"id":"3b0e1459.9f02fc","type":"api-call-service","z":"abd41c15.11de4","name":"RESUME Naptime Timer","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.lucys_naptime"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":160,"wires":[["2c94b073.33e84"]]},{"id":"1d113c2e.5752c4","type":"api-call-service","z":"abd41c15.11de4","name":"Notify Alex","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"telegram_alex","areaId":[],"deviceId":[],"entityId":[],"data":"{   \"message\": \"Lucy's nap timer was paused!\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":40,"wires":[[]]},{"id":"2c94b073.33e84","type":"api-current-state","z":"abd41c15.11de4","name":"Get Finishing Time","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"timer.lucys_naptime","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1090,"y":160,"wires":[["9a600eb1.2d525","6effc643.42edd8"]]},{"id":"5fa01ee23d2c11be","type":"inject","z":"abd41c15.11de4","name":"At 11am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":560,"wires":[["59df3b67.ee4654"]]},{"id":"5fea91185eba10b4","type":"api-current-state","z":"abd41c15.11de4","name":"Parents Home?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family_members","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":540,"y":340,"wires":[["b2e06852.47eb38","74d8bde3.932ef4"],[]]},{"id":"4d424038e27f10b7","type":"inject","z":"abd41c15.11de4","name":"At 10pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":600,"wires":[["59df3b67.ee4654"]]},{"id":"01b34bb41fecaba0","type":"subflow:6b67e6d94ce2bfe9","z":"abd41c15.11de4","name":"","x":1850,"y":440,"wires":[]},{"id":"faa4445a200ebc7c","type":"function","z":"abd41c15.11de4","name":"data","func":"msg.payload = \"Lucy's awake!\";\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1730,"y":440,"wires":[["01b34bb41fecaba0"]]},{"id":"75010827.d5f708","type":"inject","z":"d2c5940b.49f888","name":"At 7am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["436c97d6.4090f8","ae873268.06c7e"]]},{"id":"436c97d6.4090f8","type":"api-current-state","z":"d2c5940b.49f888","name":"Upstairs automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_hvac_upstairs","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":350,"y":80,"wires":[["41e0a570.2d7b64","8e8101f1.1c40b"],[]]},{"id":"41e0a570.2d7b64","type":"api-current-state","z":"d2c5940b.49f888","name":"If 'cooling'","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"cool","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.upstairs_tstat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":630,"y":60,"wires":[["a27deabc.589868"],[]]},{"id":"a27deabc.589868","type":"api-call-service","z":"d2c5940b.49f888","name":"Set temp to 75","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.upstairs_tstat"],"data":"{\"temperature\":75}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":60,"wires":[[]]},{"id":"d6ec7b59.82af58","type":"inject","z":"d2c5940b.49f888","name":"At 7pm","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":120,"y":340,"wires":[["9f823060.98fc1","db4b84d.67b2578"]]},{"id":"9f823060.98fc1","type":"api-current-state","z":"d2c5940b.49f888","name":"Upstairs automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_hvac_upstairs","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":350,"y":300,"wires":[["5b8249de.ba5e78","e4ccd801.31bfb8"],[]]},{"id":"5b8249de.ba5e78","type":"api-current-state","z":"d2c5940b.49f888","name":"If 'cooling'","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"cool","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.upstairs_tstat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":630,"y":280,"wires":[["eb0c368f.58e5e8"],[]]},{"id":"eb0c368f.58e5e8","type":"api-call-service","z":"d2c5940b.49f888","name":"Set temp to 73","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.upstairs_tstat"],"data":"{\"temperature\":73}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":280,"wires":[[]]},{"id":"ae873268.06c7e","type":"api-current-state","z":"d2c5940b.49f888","name":"Downstairs automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_hvac_downstairs","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":360,"y":160,"wires":[["29057ceb.313c8c"],[]]},{"id":"29057ceb.313c8c","type":"api-current-state","z":"d2c5940b.49f888","name":"If 'heating'","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.upstairs_tstat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":630,"y":180,"wires":[["a4941c81.052d48"],[]]},{"id":"a4941c81.052d48","type":"api-call-service","z":"d2c5940b.49f888","name":"Set temp to 67","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.downstairs_tstat"],"data":"{\"temperature\":67}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":180,"wires":[[]]},{"id":"db4b84d.67b2578","type":"api-current-state","z":"d2c5940b.49f888","name":"Downstairs automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_hvac_downstairs","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":360,"y":380,"wires":[["96275041.884a38"],[]]},{"id":"96275041.884a38","type":"api-current-state","z":"d2c5940b.49f888","name":"If 'heating'","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.upstairs_tstat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":630,"y":400,"wires":[["2c11a716.a1ba4"],[]]},{"id":"2c11a716.a1ba4","type":"api-call-service","z":"d2c5940b.49f888","name":"Set temp to 65","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.downstairs_tstat"],"data":"{\"temperature\":65}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":400,"wires":[[]]},{"id":"8e8101f1.1c40b","type":"api-current-state","z":"d2c5940b.49f888","name":"If 'heating'","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.upstairs_tstat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":630,"y":120,"wires":[["6845674c.025b48"],[]]},{"id":"6845674c.025b48","type":"api-call-service","z":"d2c5940b.49f888","name":"Set temp to 68","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.upstairs_tstat"],"data":"{\"temperature\":68}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":120,"wires":[[]]},{"id":"e4ccd801.31bfb8","type":"api-current-state","z":"d2c5940b.49f888","name":"If 'heating'","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"heat","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.upstairs_tstat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":630,"y":340,"wires":[["d843c722.ac1938"],[]]},{"id":"d843c722.ac1938","type":"api-call-service","z":"d2c5940b.49f888","name":"Set temp to 70","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.upstairs_tstat"],"data":"{\"temperature\":70}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":340,"wires":[[]]},{"id":"c05cce9c.837","type":"server-state-changed","z":"d2c5940b.49f888","name":"HVAC Upstairs turned OFF","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"climate.upstairs_tstat","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":480,"wires":[["c4464a42.606ed8"],[]]},{"id":"472fa9a.d716458","type":"server-state-changed","z":"d2c5940b.49f888","name":"HVAC Downstairs turned OFF","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"climate.downstairs_tstat","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":540,"wires":[["c4464a42.606ed8"],[]]},{"id":"c4464a42.606ed8","type":"api-call-service","z":"d2c5940b.49f888","name":"Notify Alex","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"telegram_alex","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"HVAC turned off\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":500,"wires":[[]]},{"id":"767907630ed78c73","type":"api-current-state","z":"d2c5940b.49f888","name":"Upstairs Climate","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.upstairs_tstat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":620,"wires":[["c3750f70c501e332"]]},{"id":"c3750f70c501e332","type":"function","z":"d2c5940b.49f888","name":"Set vs Current Temp","func":"let diff = Math.abs(msg.data.attributes.temperature - msg.data.attributes.current_temperature)\n\n// If state is not 'off' and current vs set is a difference of 2 or more\nif (msg.data.state !== 'off' && diff >= 2) {\n    return {\n        payload: msg.data.attributes.friendly_name.replace('_tstat', ''),\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":660,"wires":[["7dc7931a02d347bb"]]},{"id":"7dc7931a02d347bb","type":"api-call-service","z":"d2c5940b.49f888","name":"Notify Alex","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"telegram_alex","areaId":[],"deviceId":[],"entityId":[],"data":"{\t   \"message\": $join(\t       [\t           \"HVAC overworked: \",\t           payload      \t       ]  \t   ) \t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":790,"y":660,"wires":[[]]},{"id":"b748ab61b3985bb4","type":"api-current-state","z":"d2c5940b.49f888","name":"Downstairs Climate","server":"ce932edc.ea08c","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.downstairs_tstat","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":680,"wires":[["c3750f70c501e332"]]},{"id":"2cdaeff645e928d3","type":"server-state-changed","z":"d2c5940b.49f888","name":"Upstairs Temp Changes","server":"ce932edc.ea08c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"climate.upstairs_tstat","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":620,"wires":[["767907630ed78c73"]]},{"id":"bd5e71fa991d99b0","type":"server-state-changed","z":"d2c5940b.49f888","name":"Downstairs Temp Changes","server":"ce932edc.ea08c","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"climate.downstairs_tstat","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":680,"wires":[["b748ab61b3985bb4"]]},{"id":"335696b5.720dba","type":"server-state-changed","z":"77df47ab.b13bf","name":"Toggle Lucy's monitor","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_boolean.automation_lucys_audio_monitor","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":80,"wires":[["34477bc.f981404"],["9fbc5f2f.12b5d"]]},{"id":"680239c7.48847","type":"api-call-service","z":"77df47ab.b13bf","name":"Start listening","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"ffmpeg","service":"start","areaId":[],"deviceId":[],"entityId":["binary_sensor.lucys_room_noise"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":80,"wires":[[]]},{"id":"34477bc.f981404","type":"api-current-state","z":"77df47ab.b13bf","name":"If OFF","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.lucys_room_noise","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":350,"y":40,"wires":[["680239c7.48847"],[]]},{"id":"9fbc5f2f.12b5d","type":"api-call-service","z":"77df47ab.b13bf","name":"Stop listening","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"ffmpeg","service":"stop","areaId":[],"deviceId":[],"entityId":["binary_sensor.lucys_room_noise"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":100,"wires":[[]]},{"id":"7236a5be.59765c","type":"server-state-changed","z":"77df47ab.b13bf","name":"Noise heard in Lucy's room","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.lucys_room_noise","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":240,"wires":[["88a44419.7fff"],[]]},{"id":"f03af229.95415","type":"api-call-service","z":"77df47ab.b13bf","name":"Notify Alex","server":"ce932edc.ea08c","version":5,"debugenabled":false,"domain":"notify","service":"telegram_alex","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Lucy's making noise!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":240,"wires":[[]]},{"id":"c8e63468.51681","type":"delay","z":"77df47ab.b13bf","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":620,"y":240,"wires":[["f03af229.95415"]]},{"id":"88a44419.7fff","type":"api-current-state","z":"77df47ab.b13bf","name":"Automation enabled?","server":"ce932edc.ea08c","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.automation_lucys_audio_monitor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":400,"y":240,"wires":[["c8e63468.51681"],[]]},{"id":"cb09ef4f.91757","type":"trigger-state","z":"77df47ab.b13bf","name":"Sensor becomes unavailable but automation is on","server":"ce932edc.ea08c","version":4,"inputs":1,"outputs":2,"exposeAsEntityConfig":"","entityId":["binary_sensor.lucys_room_noise","input_boolean.automation_lucys_audio_monitor"],"entityIdType":"list","debugEnabled":true,"constraints":[{"targetType":"entity_id","targetValue":"binary_sensor.lucys_room_noise","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unavailable","propertyValue":"new_state.state"},{"targetType":"entity_id","targetValue":"input_boolean.automation_lucys_audio_monitor","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":true,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":390,"y":160,"wires":[["680239c7.48847"],[]]},{"id":"2c727a15.f46696","type":"server-state-changed","z":"77df47ab.b13bf","name":"Reboot Living Room","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"script.reboot_living_room","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":320,"wires":[["259c1a17.542056"],[]]},{"id":"259c1a17.542056","type":"http request","z":"77df47ab.b13bf","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://sc.w00t.cloud/ANixOMvGOvyh4usq6LJvojHFbu3krU/monitor/0caY6bvxcF/kuE88XvHtN","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":320,"wires":[["f5853fdd.e4347"]]},{"id":"f5853fdd.e4347","type":"change","z":"77df47ab.b13bf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\": msg.payload[0]}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["4fe6f9f8.5f5b68"]]},{"id":"4fe6f9f8.5f5b68","type":"http request","z":"77df47ab.b13bf","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://sc.w00t.cloud/ANixOMvGOvyh4usq6LJvojHFbu3krU/configureMonitor/0caY6bvxcF/kuE88XvHtN/edit","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":320,"wires":[[]]},{"id":"1c2b6d75.f6bb03","type":"server-state-changed","z":"77df47ab.b13bf","name":"Reboot Lucy's Room","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"script.reboot_lucys_room","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":380,"wires":[["774d3793.de9c88"],[]]},{"id":"774d3793.de9c88","type":"http request","z":"77df47ab.b13bf","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://sc.w00t.cloud/ANixOMvGOvyh4usq6LJvojHFbu3krU/monitor/0caY6bvxcF/WrqABobUJ0","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":380,"wires":[["4d209c4d.40c564"]]},{"id":"4d209c4d.40c564","type":"change","z":"77df47ab.b13bf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\": msg.payload[0]}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":380,"wires":[["3a0fdc01.8ac614"]]},{"id":"3a0fdc01.8ac614","type":"http request","z":"77df47ab.b13bf","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://sc.w00t.cloud/ANixOMvGOvyh4usq6LJvojHFbu3krU/configureMonitor/0caY6bvxcF/WrqABobUJ0/edit","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":380,"wires":[[]]},{"id":"994127bc.b07938","type":"server-state-changed","z":"77df47ab.b13bf","name":"Reboot Ari's Room","server":"ce932edc.ea08c","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"script.reboot_aris_room","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":440,"wires":[["515c427a.59642c"],[]]},{"id":"515c427a.59642c","type":"http request","z":"77df47ab.b13bf","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://sc.w00t.cloud/ANixOMvGOvyh4usq6LJvojHFbu3krU/monitor/0caY6bvxcF/HN5PifOXCy","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":440,"wires":[["634a0357.4abb0c"]]},{"id":"634a0357.4abb0c","type":"change","z":"77df47ab.b13bf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\": msg.payload[0]}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":440,"wires":[["dcb9b5dd.832208"]]},{"id":"dcb9b5dd.832208","type":"http request","z":"77df47ab.b13bf","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://sc.w00t.cloud/ANixOMvGOvyh4usq6LJvojHFbu3krU/configureMonitor/0caY6bvxcF/HN5PifOXCy/edit","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":440,"wires":[[]]}]